body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow: scroll;
}
.page-footer {
    background-color: #f3f3f3;
    width: 100%;
    bottom: 0;
}
a:hover {
  text-decoration: none !important;
}
.breadcrumb {
  border-radius: .25rem .25rem 0 0;
}
.table thead th {
  border: none;
}
tbody > tr:first-child > * {
  border-top: none;
}
th {
  color: #6c757d !important;
  font-weight: 400;
}
.link-unstyled,
.link-unstyled:visited,
.link-unstyled:hover,
.link-unstyled:active,
.link-unstyled:focus,
.link-unstyled:active:hover {
  font-style: inherit;
  color: inherit;
  background-color: transparent;
  font-size: inherit;
  text-decoration: none;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: inherit;
  border-radius: inherit;
  border: inherit;
  outline: inherit;
  box-shadow: inherit;
  vertical-align: inherit;
}


@media (min-width: 576px) {
  .col-sm:nth-child(2) {
    border-left: solid 1px #dddddd !important;
  }
}